<h1>Welcome to <%= @survey.survey_name() %> </h1>

<% if @survey.questions().any?() %>
  <h3> Here is a list of all questions you should answer </h3>
  <ul> <% @survey.questions.each() do |q| %>
    <div>
    <li><%= q.question() %> </li>
    <% end %>
  </ul>
<% else %>
  <h3>There are no questions </h3>
<% end %>

<h3>Update Survey name</h3>
<form action="/surveys/<%= @survey.id() %>/list_questions" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="survey_name">Rename the Survey:</label>
  <input id="survey_name" name="survey_name" type="text">
  <button type="submit">Update</button>
</form>

<form action="/surveys/<%= @survey.id() %>/list_questions" method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete Survey</button>
</form>

<a href="/admin">Return to Admin Home</a>
<a href='/surveys/<%= @survey.id() %>/add_questions'>Add a Question to this survey</a>
